/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body[data-pc-theme="light"] .pc-sidebar .pc-link {
    color: #fff;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body[data-pc-theme="light"] .pc-content {
    background: url(../Content/images/bodybg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

body[data-pc-theme="light"] .card-header {
    background: #232f44;
}

.bg-primary-t {
    background: #d014e4;
}

body[data-pc-theme="light"] .card .card-header h5, body[data-pc-theme="light"] .card .card-header .h5 {
    color: #fff;
}

.anim-bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #4680ff26 50%, #edf2ff 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: -1;
}

    .anim-bg.bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .anim-bg.bg3 {
        animation-duration: 5s;
    }


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.mw-100 {
    max-width: 100%;
}

.dropzone input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    opacity: 0;
}

body[data-pc-theme="light"] .t-card.direct-bonus {
    border-bottom: 3px solid rgba(70, 128, 255, 0.85);
    background: #6193ff;
}

body[data-pc-theme="light"] .t-card.membership {
    border-bottom: 3px solid rgba(229, 138, 0, 0.85);
    background: #e99b26;
}

body[data-pc-theme="light"] .t-card.kyc-status {
    border-bottom: 3px solid rgba(44, 168, 127, 0.85);
    background: #4bb592;
}

body[data-pc-theme="light"] .t-card.direct-referral {
    border-bottom: 3px solid rgba(220, 38, 38, 0.85);
    background: #e14646;
}

body:not([data-pc-theme="dark"]) .pc-footer {
    background: #232f45;
    color: #fff;
}

    body:not([data-pc-theme="dark"]) .pc-footer a {
        color: #fff;
    }

.ranks-wrapper .cards-w {
    columns: 4;
    column-gap: 3rem;
}

.ranks-wrapper .item {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
}

.ranks-wrapper.m .item {
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 3px solid #fff;
    background: #fff;
}

.ranks-wrapper.m .cards-w {
    columns: 2;
    column-gap: 1rem;
}

.ranks-wrapper .item img {
    width: 100%;
    transition: all ease 0.3s;
}
.ranks-wrapper .item:hover img{
    transform: translateY(-10px);
}

.ranks-wrapper.m .item {
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 20px;
}

.banner {
    height: 250px;
    width: 100%;
    background: radial-gradient(#232f45,#000);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

    .banner.kyc {
        background: radial-gradient(#eb16f4,#000);
    }

    .banner.memberships {
        background: radial-gradient(#4c1ca2,#311a5a);
    }

    .banner.wallets {
        background: radial-gradient(#580b63,#af168a);
    }

.banner-caption {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20%;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
}

    .banner-caption h2 {
        font-weight: 700;
    }

.banner img {
    filter: blur(30px)
}

.leaf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .leaf div {
        position: absolute;
        display: block;
    }

        .leaf div:nth-child(1) {
            left: 20%;
            animation: fall 15s linear infinite;
            animation-delay: -2s;
        }

        .leaf div:nth-child(2) {
            left: 70%;
            animation: fall 15s linear infinite;
            animation-delay: -4s;
        }

        .leaf div:nth-child(3) {
            left: 10%;
            animation: fall 20s linear infinite;
            animation-delay: -7s;
        }

        .leaf div:nth-child(4) {
            left: 50%;
            animation: fall 18s linear infinite;
            animation-delay: -5s;
        }

        .leaf div:nth-child(5) {
            left: 85%;
            animation: fall 14s linear infinite;
            animation-delay: -5s;
        }

        .leaf div:nth-child(6) {
            left: 15%;
            animation: fall 16s linear infinite;
            animation-delay: -10s;
        }

        .leaf div:nth-child(7) {
            left: 90%;
            animation: fall 15s linear infinite;
            animation-delay: -4s;
        }

@keyframes fall {
    0% {
        opacity: 1;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    20% {
        opacity: 0.8;
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(-20px) rotate(135deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.leaf1 {
    transform: rotateX(180deg);
}

#t_tabs {
    border: none;
}

    #t_tabs .nav-item .nav-link {
        border: none;
        border-radius: 10px;
        color: inherit;
    }

        #t_tabs .nav-item .nav-link.active {
            background: #dd12ec;
            color: #fff;
        }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
