/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body[data-pc-theme="light"] .pc-sidebar .pc-link {
    color: #fff;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.pct-c-btn {
    display: none;
}

@keyframes bgmove {
    0% {
        background-position: top right;
    }

    50% {
        background-position: bottom left;
    }

    100% {
        background-position: left top;
    }
}

body[data-pc-theme="light"] .pc-content {
    background: url(../Content/images/bodybg.jpg);
    background-size: cover;
    background-attachment: fixed;
    animation: bgmove 50s ease infinite;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.up-elev {
    box-shadow: 0 -5px 20px -10px #00000094;
}

.t-card .avtar.avtar-s {
    box-shadow: 0 0 10px 1px #fff;
    border: 2px solid #fff;
}

body[data-pc-theme="light"] .card-header {
    background: #232f44;
}

.bg-primary-t {
    background: #d014e4;
}

body[data-pc-theme="light"] .card .card-header h5, body[data-pc-theme="light"] .card .card-header .h5 {
    color: #fff;
}

.anim-bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #4680ff26 50%, #edf2ff 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: -1;
}

    .anim-bg.bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .anim-bg.bg3 {
        animation-duration: 5s;
    }


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.mw-100 {
    max-width: 100%;
}

.dropzone input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    opacity: 0;
}

body[data-pc-theme="light"] .t-card.direct-bonus {
    border-bottom: 3px solid rgba(70, 128, 255, 0.85);
    background: #6193ff;
}

body[data-pc-theme="light"] .t-card.membership {
    border-bottom: 3px solid rgba(229, 138, 0, 0.85);
    background: #e99b26;
}

body[data-pc-theme="light"] .t-card.kyc-status {
    border-bottom: 3px solid rgba(44, 168, 127, 0.85);
    background: #4bb592;
}

body[data-pc-theme="light"] .t-card.direct-referral {
    border-bottom: 3px solid rgba(220, 38, 38, 0.85);
    background: #e14646;
}

body:not([data-pc-theme="dark"]) .pc-footer {
    background: #232f45;
    color: #fff;
}

    body:not([data-pc-theme="dark"]) .pc-footer a {
        color: #fff;
    }

.ranks-wrapper .cards-w {
    columns: 4;
    column-gap: 3rem;
}

.ranks-wrapper .item {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
}

.mbox {
    border: 3px solid #d014e4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    margin: 1rem 0;
    background: radial-gradient(#af168a,#580b63);
    color: white;
    box-shadow: 0 0 0px 2px #fff inset;
}

    .mbox .featurebox h6 {
        border-bottom: 1px solid #fff;
        padding: 0.7rem 0;
    }

.ranks-wrapper.m .item {
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 3px solid #fff;
    background: #fff;
    text-align: center;
}

    .ranks-wrapper.m .item .btn {
        margin-bottom: 2rem;
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

.ranks-wrapper.m .cards-w {
    columns: 2;
    column-gap: 1rem;
}

.ranks-wrapper .item img {
    width: 100%;
    transition: all ease 0.3s;
}

.ranks-wrapper .item:hover img {
    transform: translateY(-10px);
}

.ranks-wrapper.m .item {
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 20px;
}

.banner {
    height: 250px;
    width: 100%;
    background: radial-gradient(#232f45,#000);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

    .banner.kyc {
        background: radial-gradient(#eb16f4,#000);
    }

    .banner.memberships {
        background: radial-gradient(#4c1ca2,#311a5a);
    }

    .banner.wallets {
        background: radial-gradient(#580b63,#af168a);
    }

.banner-caption {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20%;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
}

    .banner-caption h2 {
        font-weight: 700;
    }

.banner img {
    filter: blur(13px)
}

.leaf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .leaf div {
        position: absolute;
        display: block;
    }

        .leaf div:nth-child(1) {
            left: 20%;
            animation: fall 15s linear infinite;
            animation-delay: -2s;
        }

        .leaf div:nth-child(2) {
            left: 70%;
            animation: fall 15s linear infinite;
            animation-delay: -4s;
        }

        .leaf div:nth-child(3) {
            left: 10%;
            animation: fall 20s linear infinite;
            animation-delay: -7s;
        }

        .leaf div:nth-child(4) {
            left: 50%;
            animation: fall 18s linear infinite;
            animation-delay: -5s;
        }

        .leaf div:nth-child(5) {
            left: 85%;
            animation: fall 14s linear infinite;
            animation-delay: -5s;
        }

        .leaf div:nth-child(6) {
            left: 15%;
            animation: fall 16s linear infinite;
            animation-delay: -10s;
        }

        .leaf div:nth-child(7) {
            left: 90%;
            animation: fall 15s linear infinite;
            animation-delay: -4s;
        }

@keyframes fall {
    0% {
        opacity: 1;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    20% {
        opacity: 0.8;
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(-20px) rotate(135deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.leaf1 {
    transform: rotateX(180deg);
}

#t_tabs {
    border: none;
}

    #t_tabs .nav-item .nav-link {
        border: none;
        border-radius: 10px;
        color: inherit;
    }

        #t_tabs .nav-item .nav-link.active {
            background: #dd12ec;
            color: #fff;
        }

.pc-sidebar .pc-navbar > .pc-item:hover:not(.active) > .pc-link::after {
    background: #de0eed;
    opacity: 1;
    z-index: -1;
}

/* Curve Line */
.bg-line {
    position: absolute;
    top: 50%;
    right: 0;
    width: 130px;
    height: 45px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    white-space: nowrap;
    transform: rotate(90deg) translateY(-50%);
}

    .bg-line img {
        position: relative;
        flex-shrink: 0;
        -webkit-flex-shrink: 0;
        animation: 26s linear infinite;
        filter: none;
    }

        .bg-line img:nth-child(1) {
            animation-name: first-text;
        }

        .bg-line img:nth-child(2) {
            animation-name: second-text;
        }

@keyframes first-text {
    50% {
        transform: translateX(-100%);
        opacity: 1;
    }

    50.05% {
        opacity: 0;
    }

    50.1% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes first-text {
    50% {
        transform: translateX(-100%);
        opacity: 1;
    }

    50.05% {
        opacity: 0;
    }

    50.1% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes second-text {
    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-200%);
    }

    0% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes second-text {
    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-200%);
    }

    0% {
        transform: translateX(0%);
    }
}

.orbit {
    height: 300px;
    width: 300px;
    border: 3px dashed rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: spin 10s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.rocket {
    background: linear-gradient(90deg, rgb(208, 20, 228) 0%, rgb(142, 16, 155) 50%, rgb(208, 20, 228) 100%);
    height: 60px;
    width: 30px;
    border-radius: 50% 50% 0 0;
    position: relative;
    left: -11px;
    top: 85px;
    border: 1px solid black;
}

    .rocket::before {
        position: absolute;
        content: "";
        background-color: rgb(97, 255, 244);
        height: 30px;
        width: 60px;
        right: -15px;
        bottom: 0;
        z-index: -1;
        border-radius: 50% 50% 0 0;
    }

    .rocket::after {
        position: absolute;
        background-color: rgb(97, 255, 244);
        content: "";
        height: 10px;
        width: 20px;
        right: 4px;
        bottom: -6px;
        z-index: -1;
    }

.window {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 4px;
    top: 15px;
    border: 2px solid rgb(208, 20, 228);
    box-shadow: 0 0 4px 1px #fff, 0 -2px 4px -2px #000 inset;
}

.rocket img {
    rotate: 180deg;
    width: 30px;
    height: 90px;
    top: 70px;
    position: absolute;
    left: 2px;
    filter: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
